
    <div class="container">
        <header class="header">
          <div class="top">
            <div class="logo">E-Consult</div>  
              <span class="toolbar-spacer"></span>                    
              <button mat-button routerLink="auth/login">LOGIN</button>
              <button mat-button routerLink="auth/signup">SIGN UP</button>

            <!--<mat-toolbar class="home-toolbar">              
                <span class="logo">E-Consult</span>
                <span class="toolbar-spacer"></span>
                <button mat-button routerLink="auth/login">LOGIN</button>
                <button mat-button routerLink="auth/signup">SIGN UP</button>
            </mat-toolbar> -->
           
          </div>
          <div class="header-text mb-3">
            <h1 class="header-text-main">Committed to You</h1>
            <p class="header-text-sub">
            E-consult is an integrated Telehealth booking solution platform designed to support and enhance medical appointment 
            in the hospital. It is a solution that seeks to transform the current health care delivery system.
            The platform promises a quick and unterrupted appointment booking system which intends to eradicate the long
              wait and queue in the hospital.
            </p>
          </div>
          <div class="btn mt-5">
            <a routerLink="auth/login" class="btn-link">              
              <span class="btn-text" >Book An Appointment</span>
            </a>
          </div>
        </header>
        
      </div> 


 
